{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card mt-5">
        <div class="card-body text-center">
          <h1 class="card-title mb-3" style="color: black;">{% trans "Sign Up" %}</h1>
          <p class="card-text">
            {% blocktrans %}
            Already have an account? Please <a href="{{ login_url }}">sign in</a>.
            {% endblocktrans %}
          </p>
          <form class="signup" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <!-- Username Field -->
            <div class="mb-3">
              {{ form.username.label_tag }}
              {{ form.username }}
              {% if form.username.errors %}
                <div class="text-danger">
                  {{ form.username.errors }}
                </div>
              {% endif %}
            </div>
            
            <!-- Email Field -->
            <div class="mb-3">
              {{ form.email.label_tag }}
              {{ form.email }}
              {% if form.email.errors %}
                <div class="text-danger">
                  {{ form.email.errors }}
                </div>
              {% endif %}
            </div>
            
            <!-- Password1 Field -->
            <div class="mb-3">
              {{ form.password1.label_tag }}
              {{ form.password1 }}
              {% if form.password1.errors %}
                <div class="text-danger">
                  {{ form.password1.errors }}
                </div>
              {% endif %}
            </div>
            
            <!-- Password2 Field -->
            <div class="mb-3">
              {{ form.password2.label_tag }}
              {{ form.password2 }}
              {% if form.password2.errors %}
                <div class="text-danger">
                  {{ form.password2.errors }}
                </div>
              {% endif %}
            </div>

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}

            <button class="btn btn-info txt-btn" type="submit">{% trans "Sign Up" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}