body, html {
    font-size: large;
    background-color: #f8f9fa; 
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper.flex-grow-1 {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    text-align: justify;
    margin-top: 50px;
}

.brand {
    background: linear-gradient(to right, #FFD700, #800080); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold; 
    font-size: larger;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.5rem;
    color: #666;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    cursor: pointer;
}
