{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Upcoming Events</h2>
    {% if events %}
        <ul>
            {% for event in events %}
                <li>
                    <a href="{% url 'blog:event_detail' event.id %}">
                        <strong>{{ event.title }}</strong>
                    </a> - {{ event.date }}
                    <p>{{ event.description }}</p>
                    <p>
                        <strong>Related Blog Post:</strong>
                        <a href="{% url 'blog:post_detail' event.blog_post.id %}">
                            {{ event.blog_post.title }}
                        </a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No upcoming events.</p>
    {% endif %}
</div>
{% endblock %}
